<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%- body %>
  <script src="/assets/scripts/main-bundle.js"></script>
  <script>
    if (window.location.host.match(/localhost/)) {
      document.write('<' + 'script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js"></'
        + 'script' + '>')
    }
  </script>
</body>
</html>

