<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
  <div id="main-container">
    <%- body %>
  </div>
  <script src="/assets/scripts/main-bundle.js"></script>
</body>
</html>

